/* Fade in  */

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Blur */

@keyframes blur {
  0% {filter: blur(1.5rem);}
  100% {filter: none;}
}

@-moz-keyframes blur {
  0% {filter: blur(1.5rem);}
  100% {filter: none;}
}

@-webkit-keyframes blur {
  0% {filter: blur(1.5rem);}
  100% {filter: none;}
}

@-o-keyframes blur {
  0% {filter: blur(1.5rem);}
  100% {filter: none;}
}

@-ms-keyframes blur {
  0% {filter: blur(1.5rem);}
  100% {filter: none;}
}

@keyframes beat {
  0% {transform: scale(1,1);}
  50% {transform: scale(1.2,1.2);}
  100% {transform: scale(1,1);}
}

@-moz-keyframes beat {
  0% {transform: scale(1,1);}
  50% {transform: scale(1.2,1.2);}
  100% {transform: scale(1,1);}
}

@-webkit-keyframes beat {
  0% {transform: scale(1,1);}
  50% {transform: scale(1.2,1.2);}
  100% {transform: scale(1,1);}
}

@-o-keyframes beat {
  0% {transform: scale(1,1);}
  50% {transform: scale(1.2,1.2);}
  100% {transform: scale(1,1);}
}

@-ms-keyframes beat {
  0% {transform: scale(1,1);}
  50% {transform: scale(1.2,1.2);}
  100% {transform: scale(1,1);}
}
