/* Fade in  */

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

/* Zoom  */

@keyframes zoomIn {
  0% {height:100%;}
  100% {height:50%;}
}

@-moz-keyframes zoomIn {
  0% {height:100%;}
  100% {height:50%;}
}

@-webkit-keyframes zoomIn {
  0% {height:100%;}
  100% {height:50%;}
}

@-o-keyframes zoomIn {
  0% {height:100%;}
  100% {height:50%;}
}

@-ms-keyframes zoomIn {
  0% {height:100%;}
  100% {height:50%;}
}

/* Blur */

@keyframes blur {
  0% {filter: blur(1.5rem);}
  100% {filter: none;}
}