* {
  font-family: 'Special Elite', cursive;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #00b496;
}

a:hover {
  color: #006958;
}

#splash {
  position: relative;
  padding-top: 30px;
  text-align: center;
  font-size: 48px;
  color: #fff;
  background-image: url(/splash.jpg);
  background-attachment: fixed;
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  -webkit-background-size: contain;
  height: 100vh;
  animation: blur ease 4s;
  animation-fill-mode: forwards;
}

#name {
  background: none;
  letter-spacing: 0.5em;
  animation: fadeIn ease 2.5s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  opacity: 0;
}

#splash img {
  height: 50%;
  margin-top: 140px;
  border: 1px solid #fff;
  border-radius: 50%;
  animation: fadeIn ease 2.5s, zoomIn ease 2.5s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  opacity: 0;
}

#subtitle {
  letter-spacing: 0.5em;
  background: none;
  padding-top: 5px;
  font-size: 32px;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  opacity: 0;
}

.center {
  text-align: center;
}

#publications {
  margin: 7% 10%;
}

.header {
  font-size: 42px;
  margin: 5% 0;
  text-align: center;
}

.publication-container {
  margin: 3em 0;
}

.publications-time {
  font-size: 28px;
  margin: 0.5em 0;
}

.publication {
  font-size: 20px;
  line-height: 2em;
}

.publication-title {
  color: #00b496;
  cursor: pointer;
}

.box {
  position: relative;
  width: 700px;
  z-index: 2;
  animation: fadeIn ease 4s;
  animation-fill-mode: forwards;
}

#preview-frame {
  width: 700px;
  height: 450px;
  border: 3px solid #006958;
}

.close {
  position: relative;
  float: right;
  right: -6px;
  font-size: 1em;
  padding: 0.25em 0.5em;
  background: #006958;
  color: #fff;
  cursor: pointer;
}

.open {
  position: relative;
  float: left;
  font-size: 1em;
  padding: 0.25em 0.5em;
  background: #006958;
  color: #fff;
  cursor: pointer;
}

.open a:hover, .close:hover {
  color: #00b496;
}

.open a {
  color: #fff;
}

.forthcoming {
  color: rgb(161, 161, 161);
}

#contact {
  padding-top: 25px;
  padding-bottom: 100px;
  background: #006958;
}

#contact .header {
  color: #fff;
}

#contact-content {
  margin: 5% 10%;
}

.contact-icons {
  position: relative;
  text-align: center;
}

.contact-icon {
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.contact-icon:not(:last-child) {
  margin-right: 3em;
}

.contact-icons a {
  width: 50px;
  color: #000;
  padding: 26px 34px;
  border-radius: 50%;
  background: #fff;
  text-decoration: none;
  font-size: 0.7em;
  transition: 1s ease;
}

.contact-icons a:hover {
  background: #00b496;
  color: #fff;
  animation: beat 1s 1 alternate;
  -webkit-animation: beat 1s 1 alternate;
  -moz-animation: beat 1s 1 alternate;
  -o-animation: beat 1s 1 alternate;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}

@media screen and (max-width: 800px) {
  #publications {
    margin: 9% 2%;
  }

  .publication {
    font-size: 14px;
  }

  .contact-icons a {
    padding: 14px 20px;
    width: 40px;
    font-size: 9px;
  }

  .contact-icon:not(:last-child) {
    margin-right: none;
  }

  #name {
    letter-spacing: 0;
  }

  #splash img {
    margin-top: 50px;
  }

  .box {
    position: relative;
    width: 90vw;
    z-index: 2;
  }
  
  #preview-frame {
    width: 90vw;
    height: 400px;
    border: 3px solid #006958;
  }
}