* {
  font-family: 'Special Elite', cursive;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #00b496;
}

a:hover {
  color: #006958;
}

#splash {
  position: fixed;
  text-align: center;
  font-size: 48px;
  color: #fff;
  background-image: url(/splash.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  width: 100vw;
  height: 100vh;
  animation: blur ease 1s;
  animation-fill-mode: forwards;
}

#name {
  padding-top: 1.5rem;
  background: none;
  letter-spacing: 0.5em;
  animation: fadeIn ease 2.5s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  opacity: 0;
}

.bio-container {
  background: rgba(0, 0, 0, 0.541);
  box-shadow: 0px 0px 30px 4px rgba(255, 255, 255, 0.281);
  border: 1px solid #fff;
  animation: createBox ease 2s, fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  opacity: 0;
}

#bio-photo {
  max-height: 240px;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0px 0px 30px 4px rgba(255, 255, 255, 0.281);
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  opacity: 0;
}

#bio-text p {
  width: 85%;
  font-family: 'Amatic SC', cursive;
  font-size: 0.6em;
  text-align: center;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  opacity: 0;
}

#bio-text a {
  font-family: 'Amatic SC', cursive;
}

.center {
  text-align: center;
}

#publications {
  margin: 7% 10%;
  text-align: center;
}

.header {
  font-size: 42px;
  margin: 5% 0;
  text-align: center;
}

.publications-time {
  font-size: 28px;
  margin: 0.5em 0;
}

.publication {
  font-size: 20px;
  padding: 1% 0;
  height: 80%;
  width: 95%;
}

.publication-hover {
  background: #f2f2f2;
  font-size: 20px;
  padding: 1% 0;
}

.publication-hover2 {
  background: #00b49628;
  font-size: 20px;
  padding: 1% 0;
}

.publication-title {
  display: flex;
}

#pub-title-main {
  font-size: 2rem;
  color: #00b496;
  width: 75%;
}

#pub-title-source {
  font-family: 'Amatic SC', cursive;
  font-size: 2.5rem;
  width: 75%;
}

.box {
  position: relative;
  margin-top: 15px;
  height: 96%;
  width: 100%;
  z-index: 2;
  animation: createBox ease 1s;
  animation-fill-mode: forwards;
}

#preview-frame {
  width: 100%;
  height: 100%;
  border: 3px solid #006958;
}

.close {
  position: relative;
  float: right;
  right: -6px;
  font-size: 1em;
  padding: 0.25em 0.5em;
  background: #006958;
  color: #fff;
  cursor: pointer;
}

.open {
  position: relative;
  float: left;
  font-size: 1em;
  padding: 0.25em 0.5em;
  background: #006958;
  color: #fff;
  cursor: pointer;
}

.open a:hover,
.close:hover {
  color: #00b496;
}

.open a {
  color: #fff;
}

.forthcoming {
  color: rgb(161, 161, 161);
}

.contact-content {
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  opacity: 0;
}

.contact-icons {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 50px;
  color: #fff;
  padding: 1rem 1.5rem;
  text-decoration: none;
  font-size: 0.3em;
  transition: 0.5s ease;
}

.contact-icon:hover {
  color: #00b496;
  transform: scale(1.2);
}

.contact-icon svg {
  width: 2rem;
  height: 2rem;
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 1100px) {
  #bio-text p {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  #bio-photo {
    max-height: 210px;
  }

  #name {
    font-size: 2rem;
  }

  #bio-text p {
    font-size: 1.6rem;
  }

  #pub-title-main {
    font-size: 1.5rem;
    max-width: 55%;
  }

  #pub-title-source {
    font-size: 2rem;
    max-width: 55%;
  }
}

@media screen and (max-width: 600px) {
  #bio-photo {
    max-height: 180px;
  }

  #bio-text p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  #name {
    font-size: 1.3rem;
  }

  .publication {
    height: 100%;
    width: 100%;
  }

  #pub-title-main {
    font-size: 1.5rem;
    max-width: 65%;
  }

  #pub-title-source {
    font-size: 2rem;
    max-width: 65%;
  }

  .contact-icon {
    width: 30px;
    font-size: 0.2em;
  }
}

@media screen and (max-width: 500px) {
  #bio-text p {
    font-size: 1.4rem;
  }

  #pub-title-main {
    font-size: 1rem;
    max-width: 65%;
  }

  #pub-title-source {
    font-size: 1.5rem;
    max-width: 65%;
  }
}
