* {
  font-family: 'Special Elite', cursive;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #00b496;
}

a:hover {
  color: #006958;
}

#splash {
  position: relative;
  text-align: center;
  font-size: 48px;
  color: #fff;
  background-image: url(/splash.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  width: 100vw;
  height: 100vh;
  animation: blur ease 4s;
  animation-fill-mode: forwards;
}

#name {
  padding-top: 1.5rem;
  background: none;
  letter-spacing: 0.5em;
  animation: fadeIn ease 2.5s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  opacity: 0;
}

.bio-container {
  background: rgba(0, 0, 0, 0.541);
  margin-top: 140px;
  width: 800px;
  box-shadow: 0px 0px 30px 4px rgba(255, 255, 255, 0.281);
  border: 1px solid #fff;
  animation: createBox ease 2s, fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  opacity: 0;
}

#bio-photo {
  height: 235px;
}

#bio-photo img {
  position: relative;
  top: -50%;
  max-height: 350px;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: 0px 0px 30px 4px rgba(255, 255, 255, 0.281);
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 4.5s;
  opacity: 0;
}

#bio-text {
  margin-bottom: 0.3em;
}

#bio-text p {
  font-family: 'Amatic SC', cursive;
  display: table-cell;
  vertical-align: middle;
  padding: 1% 2%;
  font-size: 0.6em;
  text-align: center;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
  animation-delay: 5.5s;
  opacity: 0;
}

#bio-text a {
  font-family: 'Amatic SC', cursive;
}

.center {
  text-align: center;
}

#publications {
  margin: 7% 10%;
  text-align: center;
}

.header {
  font-size: 42px;
  margin: 5% 0;
  text-align: center;
}

.publications-time {
  font-size: 28px;
  margin: 0.5em 0;
}

.publication {
  font-size: 20px;
  padding: 1% 0;
  height: 80%;
  width: 95%;
}

.publication-hover {
  background: #f2f2f2;
  font-size: 20px;
  padding: 1% 0;
}

.publication-hover2 {
  background: #00b49628;
  font-size: 20px;
  padding: 1% 0;
}

.publication-title {
  color: #00b496;
  margin-bottom: 1rem;
}

.box {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 100%;
  width: 100%;
  z-index: 2;
  animation: createBox ease 1s;
  animation-fill-mode: forwards;
}

#preview-frame {
  width: 100%;
  height: 100%;
  border: 3px solid #006958;
}

.close {
  position: relative;
  float: right;
  right: -6px;
  font-size: 1em;
  padding: 0.25em 0.5em;
  background: #006958;
  color: #fff;
  cursor: pointer;
}

.open {
  position: relative;
  float: left;
  font-size: 1em;
  padding: 0.25em 0.5em;
  background: #006958;
  color: #fff;
  cursor: pointer;
}

.open a:hover,
.close:hover {
  color: #00b496;
}

.open a {
  color: #fff;
}

.forthcoming {
  color: rgb(161, 161, 161);
}

#contact {
  padding-top: 25px;
  padding-bottom: 100px;
  background: #006958;
}

#contact .header {
  color: #fff;
}

#contact-content {
  margin: 5% 10%;
}

.contact-icons {
  position: relative;
  text-align: center;
}

.contact-icon {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  width: 50px;
  color: #000;
  padding: 26px 34px;
  background: #fff;
  text-decoration: none;
  font-size: 0.7em;
  transition: 0.5s ease;
}

.contact-icon:hover {
  background: #00b496;
  color: #fff;
  transform: scale(1.2);
}

.contact-icon:not(:last-child) {
  margin-right: 3em;
}

@media screen and (max-width: 1050px) {
  #publications {
    margin: 7% 2%;
  }
}

@media screen and (max-width: 800px) {
  #splash {
    height: 120vh;
    background-attachment: scroll;
  }

  .bio-container {
    width: 95vw;
    margin-top: 120px;
  }

  #bio-photo {
    height: 140px;
  }

  #bio-photo img {
    max-height: 220px;
    top: -65%;
  }

  #bio-text p {
    font-size: 0.5em;
  }

  .publication,
  .publication-hover,
  .publication-hover2 {
    font-size: 1.25rem;
  }

  .contact-icons a {
    padding: 14px 20px;
    width: 40px;
    font-size: 9px;
  }

  .contact-icon:not(:last-child) {
    margin-right: none;
  }

  #name {
    letter-spacing: 0;
    font-size: 0.75em;
  }

  .box {
    position: relative;
    width: 90vw;
    z-index: 2;
  }

  #preview-frame {
    width: 90vw;
    height: 400px;
    border: 3px solid #006958;
  }

  #contact {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 600px) {
  .publication,
  .publication-hover,
  .publication-hover2 {
    font-size: 1rem;
  }
}
